<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  
  <!-- Feature declarations -->
  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

  <application>
    <service
      android:name=".MunimBluetoothBackgroundService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="connectedDevice|location" />
  </application>
</manifest>
